* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family:"Yu Gothic UI semibold";
}

header {
  /*background-color: #6495ed;*/
  /*background: -webkit-repeating-linear-gradient(-45deg, #6495ed, #6495ed 3px,#64b6ed 3px, #64b6ed 7px);*/
  background: repeating-linear-gradient(-45deg, #6495ed, #6495ed 3px,#60b0e6 3px, #60b0e6 7px);
  color: #fff;
  height: 200px;
    width: 100%;
  margin: 0px;
  
  /*フッダーを固定する方法はこれです↓
  position: fixed;
    top: 0;
  z-index: 10;*/
}

.header-box {
    width: 100%;
    margin: 0 auto;
    align-content: center;
}

.header-logo {
  height: 100px;
  width: 98%;
  padding: 15px 1%;
}

/*.box14 a {
    /*padding: 0.2em 0.5em;
    margin: 2em 0;*/
    /*background: repeating-linear-gradient(-45deg, #6495ed, #6495ed 3px,#64b6ed 3px, #64b6ed 7px);
    border: dashed 2px white;
    margin: 0px;
    padding-bottom: 10px;
}*/



.header-list {
 padding: 0 1%;
}

.header-list a {
  font-size: 18px;
  color: #191970;
  padding: 5px 1.5%;
  display: inline-block;
  list-style: none;
  background: repeating-linear-gradient(-45deg, #6495ed, #6495ed 3px,#64b6ed 3px, #64b6ed 7px);
  border: dashed 2px white;
  /*margin: 20px 4px 0 0;*/
}

.header-list a:hover {
  background: none;
  background-color: #64b6ed;
}


/*ここまでがヘッダー！！*/



/*メインの所だよ～*/

.countdown {
  /*background-color: #feeee3;*/
  height: 600px;
    width: 100%;
  color: #ed145b;
  font-size: 32px;
  text-align: center;
  margin: auto 0;
  /*padding-top: 200px;*/
  background-image: url("flower.png.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   font-family:"HG創英角ﾎﾟｯﾌﾟ体";
  /*background-image: url("flower.png");*/
}

/*カウントダウンのキャベ子が死ぬまで文字がはかなくならないのは何故でしょう？？*/

.coutndown-letter {
  padding-top: 150px;
}

.count {
  color: #ff1800;
  font-size: 100px;
  font-family: "HG創英角ﾎﾟｯﾌﾟ体";
  padding-top: 50px;
  padding-left: 4%;
}


.text1, .count, .text2 {
  display: inline-block;
}

.text1, .text2 {
  font-size: 80px;
  padding-left: 4%;
}


/*はじめに*/
.greeting {
 background-color: #fdeefd;
 height: 500px;
   width: 100%;
 display: block;
 padding: 0px 0 100px 0;
}


.greet-logo {
  text-align: center;
  color: #ec008c;
  font-size: 40px;
  font-family:"HG創英角ﾎﾟｯﾌﾟ体";
  display: block;
  padding-top: 60px;
}

.greet-content {
  text-align: center;
  color: #666;
  font-size: 18px;
  line-height: 20px;
}

.greet-content p {
  margin: 20px;
}

.greet-content h1 {
  font-size: 35px;
  padding: 15px 0;
}

h6 {
  font-family: "MS明朝";
  font-size: 16px;
}

/*プロフィール*/
.profile {
  background-color: #feeee3;
  height: 500px;
    width: 100%;
  padding: 0px 0 100px 0;
  text-align: center;
}


.profile-logo {
  color: #f26c4f;
  font-size: 40px;
  padding-top: 35px;
  margin-bottom: 5px;
  font-family:"HG創英角ﾎﾟｯﾌﾟ体";
  display: block;
}

.profile-icon img {
  margin: 10px;
  height: 10%;
  width:10%;
}

.profile-content h2 {
  font-size: 28px;
}

.profile-content span {
  color: #666;
}

.profile-content p {
  color: #666;
  font-size: 16px;
  margin: 25px;
  line-height: 16px;
}

.prof-link {
  /*padding-top: 25px;*/
  text-decoration: underline;
}


.prof-link a:active {
  background-color: #ffa500;
}

/*リスト*/
.wish-list {
  background-color: #fffee7;
  height: 1300px;
    width: 100%;
}

.wishlist-logo {
  color: #fbb568;
  font-size: 40px;
  font-family:"HG創英角ﾎﾟｯﾌﾟ体";
  display: block;
  padding-top: 35px;
  text-align: center;
}

.wish-list ol {
  padding-left: 20%;
  list-style-type: decimal; 
}


.inside-wish, .outside-wish {
  font-family: "UD デジタル 教科書体 NP-B";
}


.inside-wish h2, .outside-wish h2 {
  font-size: 20px;
  margin: 8px;
  padding-top: 15px;
  padding-left: 10%;
}

.inside-wish li {
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4d;
}

.outside-wish li {
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4d;
}


.inside-wish span, .outside-wish span{
  font-weight: bold;
  font-family: "HG創英角ｺﾞｼｯｸ体";
  font-size: 16px;
  color: red;
  display: inline-block;
  transform: skewX(-20deg);
}

/*カレンダー*/
.calender {
  height: 800px;
     width: 100%;
  background-color: #e6fde8;
}

.calender-logo {
  font-size: 40px;
  text-align: center;
  color: #30b54a;
  font-family:"HG創英角ﾎﾟｯﾌﾟ体";
  display: block;
  padding-top: 35px;
}

.calender-content iframe {
  /*padding: 50px;
  padding-left: 100px;*/
  width: 94%;
  height: 500px;
  padding: 50px 0 30px 3%;
}

@media all and (max-width: 767px)
    { .GoogleCalendar iframe
        { height: 300px;  }
    }

.calender-text {
  text-align: center;
  color: #666;
  padding-top:30px;
}

/*ここからフッター*/
footer {
  /*background-color: #6495ed;*/
  background: repeating-linear-gradient(-45deg, #6495ed, #6495ed 3px,#60b0e6 3px, #60b0e6 7px);
  color: #fff;
  height: 140px;
  width: 100%;
  /*padding: 30px;*/
}

a {
  text-decoration: none;
  /*もし他のリンク先が消えちゃったら変えてください～*/
}

/*もし画像にリンク貼れなかったらアイコンと文字逆にした方がいいと思う！*/
.logo1 {
  font-size: 20px;
  padding: 8px 0 5px 18%;
}

.logo2 {
  font-size: 20px;
  padding: 8px 0 5px 18%;

}

.logo1, .logo2 {
  float: left;
  /*padding-bottom: 0px;
  padding-right: 0px;*/
}

.logo-icon1, .logo-icon2 {
  float: left;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
}

.logo-icon1{
  padding-left: 17%;
}

.logo-icon2 {
   padding-left: 17%;
}

.logo00 {
  clear:both;
  /*クリアーを使うと一瞬で上のfloar: left;の周り込みが消えるよ。*/
}

.logo1:hover, .logo-icon1:hover, .logo2:hover, .logo-icon2:hover{
  opacity: 0.7;
}

.logo-icon1:active, .logo-icon2:active{
  position: relative;
  top: 4px;
}

.logo3 {
  font-size: 15px;
  padding-top: 85px;
  padding-right: 1%;
  float: right;
  /*padding-left: 580px;*/
}
